
      <button [routerLink]="['/transactionDetail']" mat-button color="primary">Add</button>
     

<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date: 'd/M/y'}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="comments">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by comment"> Comments </th>
      <td mat-cell *matCellDef="let element"> {{element.comment}} </td>
    </ng-container>
  
    <!-- Action Column -->
    <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
            <a mat-button [routerLink]="['/transactionDetail', element.id]">View</a>  
            <!-- <a mat-button [routerLink]="[/transactionDetail, element.id]">View</a>    -->
        </td>
      
      </ng-container>
  
      
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>