
<form class="example-form" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>ID</mat-label>
      <input readonly matInput  value="{{id}}">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Date</mat-label>
        <input readonly matInput value="{{date | date: 'd/M/y' }}">
      </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Comments</mat-label>
      <textarea matInput appAlphanumeric [formControl]="comment" required></textarea>
      <mat-error *ngIf="comment.invalid">Please enter commets</mat-error>
    </mat-form-field>

    <button mat-button type="submit" color="primary" [disabled]="comment.invalid">{{mode}}</button>

  


  </form>


<!-- 
<form [formGroup]="form">
    <input type="text" name="" id="" readonly formControlName="id">
    <br>
    <br>
    <input type="text" name="" id="" readonly formControlName="date">
    <br>
    <br>
    <input type="text" name="" id="" formControlName="comment">
    <br>
    <br> -->

    <!-- <div *ngIf="submit && form.get('FirstName')?.errors">
        <div *ngIf="form.get('FirstName')?.errors?.['email']">
            Email is not valid
        </div>

        <div *ngIf="form.get('FirstName')?.errors?.['required']">
            First name is required
        </div>

    </div>
    <br>
    <br>
    <input type="text" name="" id="" formControlName="LastName"> -->

<!--   
    <button type="submit" [disabled]="!form.valid">SAVE</button>
</form> -->